.app-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding-top: -10px; /* Experiment with negative values */
    padding-bottom: 20px;
}

.centered-image {
    margin: 20px; /* Adjust spacing between images */
    display: flex;
    justify-content: center; /* Center horizontally */
}

.centered-image img {
    margin: 10px; /* Adjust spacing between images */
    width: 300px; /* Adjust the width of the small images */
    height: 100px; /* Adjust the height of the small images */
    border-radius: 20px;
}

.large-image img {
    width: 400px; /* Adjust the width of the large image */
    height: 400px; /* Adjust the height of the large image */
}

.contact-section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px; /* Adjusted margin-top */
}

.contact-section p {
    margin-bottom: 20px;
}

.contact-section form {
    max-width: 400px;
    margin: 10px auto; /* Center the form horizontally */
}

.contact-section label {
    margin: 5px 0;
}

.contact-section input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-section button {
    padding: 12px;
    background-color: #373b47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section button:hover {
    background-color: #bfc6d1;
}